In [1]:
import json
import pandas as pd
import requests

In [2]:
url = 'https://dog.ceo/api/breeds/list/all'

In [3]:
# Send a GET request to the URL
response = requests.get(url)

In [4]:
# Parse the JSON response
data = json.loads(response.text)

In [5]:
# Extract the required data from the JSON
breeds = data['message']

In [6]:
# Create a DataFrame from the breed data
df = pd.DataFrame(breeds.items(), columns=['Breed', 'Sub-Breeds'])

In [7]:
# Convert breed into rows using stack()
df = df.set_index('Breed')['Sub-Breeds'].apply(pd.Series).stack().reset_index(level=0).rename(columns={0: 'Sub-Breed'})

C:\Users\Admin\AppData\Local\Temp\ipykernel_72\2942235633.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.set_index('Breed')['Sub-Breeds'].apply(pd.Series).stack().reset_index(level=0).rename(columns={0: 'Sub-Breed'})

In [8]:
# Reset the index
df = df.reset_index(drop=True)

In [9]:
df

         Breed     Sub-Breed
0   australian      shepherd
1       buhund     norwegian
2      bulldog        boston
3      bulldog       english
4      bulldog        french
..         ...           ...
77     terrier  westhighland
78     terrier       wheaten
79     terrier     yorkshire
80    waterdog       spanish
81   wolfhound         irish

[82 rows x 2 columns]

In [10]:
file_path = 'Breed.xlsx'
df.to_excel(file_path, index=False)