In [1]:
import json
import pandas as pd
import requests

In [8]:
url = 'https://dog.ceo/api/breeds/list/all'
response = requests.get(url)
json_data = json.loads(response.text)

In [55]:
file_path = 'dog_data.json'
with open(file_path, 'w') as json_file:
    json.dump(json_data, json_file)

In [56]:
with open(file_path, 'r') as json_file:
    data = json.load(json_file)

In [47]:
breeds = data['message']
df = pd.json_normalize(breeds)

#### T stands for tranpose which converts row into columns

In [48]:
df.T

                       0
affenpinscher         []
african               []
airedale              []
akita                 []
appenzeller           []
...                  ...
vizsla                []
waterdog       [spanish]
weimaraner            []
whippet               []
wolfhound        [irish]

[98 rows x 1 columns]

In [45]:
file_path = 'BreedWithNormalize.xlsx'
df.to_excel(file_path)