In [1]:
import json
import pandas as pd
import requests

In [2]:
# Define the URL
url = 'https://dog.ceo/api/breeds/list/all'

In [3]:
# Send a GET request to the URL
response = requests.get(url)

In [4]:
# Parse the JSON response
data = json.loads(response.text)

In [5]:
# Specify the file path to save the JSON data
file_path = 'dog_dataNaN.json'

In [6]:
# Write the data to a JSON file
with open(file_path, 'w') as json_file:
    json.dump(data, json_file, indent=4)

In [7]:
# Read data from the JSON file
with open(file_path, 'r') as json_file:
    data = json.load(json_file)

In [8]:
# Extract the required data from the JSON
breeds = data['message']

In [9]:
# Create a DataFrame using json_normalize()
df = pd.json_normalize(breeds)

In [14]:
# Reshape the DataFrame
df = df.stack().reset_index(level=1, drop=True).to_frame('Breed')

In [16]:
# Replace empty lists with NaN
df['Breed'] = df['Breed'].replace([], float('NaN'))

In [17]:
df

        Breed
0          []
0          []
0          []
0          []
0          []
..        ...
0          []
0   [spanish]
0          []
0          []
0     [irish]

[98 rows x 1 columns]