In [1]:
import json
import pandas as pd
import requests

In [2]:
url = 'https://dog.ceo/api/breeds/list/all'
response = requests.get(url)
json_data = json.loads(response.text)

In [3]:
file_path = 'dog_data1.json'
with open(file_path, 'w') as json_file:
    json.dump(json_data, json_file)

In [4]:
with open(file_path, 'r') as json_file:
    data = json.load(json_file)

In [5]:
breeds = data['message']
df = pd.json_normalize(breeds)

#### The stack() function is used to pivot the columns of the DataFrame vertically, resulting in a stacked series with a multi-level index.
#### The reset_index() function is called to reset the index of the stacked series. The level=1 argument specifies to reset the inner level of the index, and drop=True indicates that the original index should be dropped.
#### The to_frame() function converts the stacked series into a DataFrame, with the stacked values placed in a new column called 'Breed'.

In [6]:
df = df.stack().reset_index(level=1, drop=True).to_frame('Breed').reset_index().rename(columns={'level_0': 'Dog'})

In [7]:
df['Breed'] = df['Breed'].replace([], float('NaN'))

In [8]:
df.columns = ['Dog', 'Breed']
df.reset_index(drop=False, inplace=True)

In [10]:
df.head(20)

    index  Dog                      Breed
0       0    0                         []
1       1    0                         []
2       2    0                         []
3       3    0                         []
4       4    0                         []
5       5    0                 [shepherd]
6       6    0                         []
7       7    0                         []
8       8    0                         []
9       9    0                         []
10     10    0                         []
11     11    0                         []
12     12    0                         []
13     13    0                         []
14     14    0                [norwegian]
15     15    0  [boston, english, french]
16     16    0            [staffordshire]
17     17    0               [australian]
18     18    0                         []
19     19    0                         []