In [1]:
import json
import pandas as pd
import requests

In [2]:
url = 'https://dog.ceo/api/breeds/list/all'

In [3]:
response = requests.get(url)

In [4]:
data = json.loads(response.text)

In [5]:
file_path = 'dog_dataWithKey.json'

In [6]:
with open(file_path, 'w') as json_file:
    json.dump(data, json_file, indent=4)

In [7]:
with open(file_path, 'r') as json_file:
    data = json.load(json_file)

In [8]:
breeds = data['message']

In [9]:
df = pd.DataFrame({'Dog': list(breeds.keys()), 'Breed': breeds.values()})

In [10]:
df = df.explode('Breed', ignore_index=True)

In [11]:
df['Breed'] = '[' + df['Breed'] + ']'

In [12]:
df['Breed'] = df['Breed'].replace([], float('NaN'))

In [13]:
#df['Breed'] = df['Breed'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [14]:
df['Breed'] = df['Breed'].apply(lambda x: ', '.join(map(str, x)) if isinstance(x, list) else x)
df = df.groupby('Dog')['Breed'].apply(lambda x: ', '.join(map(str, x))).reset_index()

In [16]:
df

              Dog      Breed
0   affenpinscher        nan
1         african        nan
2        airedale        nan
3           akita        nan
4     appenzeller        nan
..            ...        ...
93         vizsla        nan
94       waterdog  [spanish]
95     weimaraner        nan
96        whippet        nan
97      wolfhound    [irish]

[98 rows x 2 columns]

In [17]:
file_path = 'BreedWithKeyandValue.xlsx'
df.to_excel(file_path)