In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://dog.ceo/api/breeds/list/all'

#### Send a GET request to the URL

In [3]:
response = requests.get(url)

####  Parse the JSON response

In [4]:
data = response.json()

#### Extract the required data from the JSON

In [5]:
breeds = data['message']

#### Make a DataFrame

In [6]:
df = pd.DataFrame(breeds.items(), columns=['Breed', 'Dog'])

In [8]:
df.head(20)

            Breed                        Dog
0   affenpinscher                         []
1         african                         []
2        airedale                         []
3           akita                         []
4     appenzeller                         []
5      australian                 [shepherd]
6         basenji                         []
7          beagle                         []
8        bluetick                         []
9          borzoi                         []
10        bouvier                         []
11          boxer                         []
12      brabancon                         []
13         briard                         []
14         buhund                [norwegian]
15        bulldog  [boston, english, french]
16    bullterrier            [staffordshire]
17      cattledog               [australian]
18      chihuahua                         []
19           chow                         []

In [9]:
file_path = 'BreedWithLink.xlsx'
df.to_excel(file_path)