In [1]:
import pandas as pd
import requests
import random
from urllib.request import urlretrieve
import os

In [2]:
url = 'https://dog.ceo/api/breeds/list/all'

In [3]:
response = requests.get(url)

In [4]:
data = response.json()

In [5]:
breeds = data['message']

In [6]:
df = pd.DataFrame(breeds.items(), columns=['Breed', 'Dog'])

In [7]:
df

            Breed        Dog
0   affenpinscher         []
1         african         []
2        airedale         []
3           akita         []
4     appenzeller         []
..            ...        ...
93         vizsla         []
94       waterdog  [spanish]
95     weimaraner         []
96        whippet         []
97      wolfhound    [irish]

[98 rows x 2 columns]

In [8]:
file_path = 'BreedRandom.xlsx'
df.to_excel(file_path)

In [9]:
df = pd.read_excel('BreedRandom.xlsx')

#### Find the Database Length

In [10]:
total_length = len(df)

In [11]:
total_length

98

#### Generate Random Number

In [12]:
random_number = random.randint(0, total_length)

In [13]:
random_number

42

#### Get the Breed name of the Random Number

In [14]:
dog_breed = df.loc[random_number, 'Breed']

In [15]:
dog_breed

'hound'

#### Create URL

In [16]:
url1 = f'https://dog.ceo/api/breed/{dog_breed}/images/random/'

In [17]:
url1

'https://dog.ceo/api/breed/hound/images/random/'

In [18]:
response = requests.get(url1)

In [19]:
data = response.json()

#### Get the "message" key from the response

In [20]:
image_link = data['message']

In [21]:
response = requests.get(image_link)

In [22]:
folder_name = 'DogBreedPics'

#### Give file name dynamically in particular folder

In [23]:
image_path = os.path.join(folder_name, f'dog_image_{random_number}.jpg')

#### Download images

In [24]:
with open(image_path, 'wb') as image_file:
    image_file.write(response.content)

print(f"Image downloaded: {image_path}")

Image downloaded: DogBreedPics\dog_image_42.jpg